.navLink {
  color: var(--text-primary-color);
  padding: 16px 24px;
  line-height: 1.5;
  display: flex;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
  user-select: none;

  &:active,
  &:hover,
  &.active {
    color: var(--accent-color)
  }

  &.disabled {
    color: var(--text-muted-color);
    pointer-events: none;
  }
}

.icon {
  margin-right: 1rem;
}
