.navbar {
  width: 205px;
  background: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  overflow: auto;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.logoLink {
  padding: 48px 24px;
}

.navSection {
  border-bottom: 1px solid var(--border-color);
}

.withMargin {
  margin-bottom: 3rem;
}

.userInfo {
  position: sticky;
  bottom: 0;
  background: var(--background-secondary-color);
  color: var(--text-muted-color);
}

.bottomSection {
  margin-top: auto;
}

.userPhoto {
  width: 1.5em;
  height: 1.5em;
  object-fit: contain;
  margin-right: 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1;
  border: 1px solid var(--border-color)
}
