.navLink {
  color: var(--text-primary-color);
  padding: 16px 24px;
  line-height: 1.5;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  user-select: none;

  &:active,
  &:hover,
  &.active {
    color: var(--accent-color)
  }

  &.disabled {
    color: var(--text-muted-color);
    pointer-events: none;
  }
}

.icon {
  margin-right: 1rem;
}


@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
