.gummyButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  border-radius: 50%;
  background: url(gummy-concerned.png);
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: translateY(-50%) translateX(50%) scale(1.2);
  }
}
